{{ 'header.css' | asset_url | stylesheet_tag }}

{% assign se_stts = section.settings %}

<div id="header" class="header">
  <div class="container">
    <nav class="">
      <a href="{{ routes.root_url }}" class="logo">
        {% if se_stts.logo != blank %}
          <img
            class=""
            src="{{ se_stts.logo | image_url: width: se_stts.logo.width }}"
            alt="{{ se_stts.logo.alt | escape }}"
          >
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>

      <!-- navigation -->
      <div class="menu">
        <ul class="nav-links">
          {% for link in linklists[se_stts.menu].links -%}
            <div class="link relative">
              <li class="{% if link.links != blank %}nested{% endif %}">
                {{ link.title | link_to: link.url }}
                {% if link.links != blank %}
                  {% for child in link.links -%}
                    <ul class="child">
                      <li>
                        {{ child.title | link_to: child.url }}
                      </li>
                    </ul>
                  {% endfor %}
                {% endif %}
              </li>
            </div>
          {%- endfor %}
        </ul>
        <div class="shop-icons">
          <a class="cart-icon" href="{{ routes.cart_url }}">
            {%- render 'icon_cart' -%}
            <span class="cart-total">${cartTotal}</span></a
          >
          {% unless shop.customer_accounts_enabled == false %}
            <div class="account">
              {%- if shop.customer_accounts_enabled -%}
                <ul>
                  {%- if customer -%}
                    <li>
                      <a href="{{ routes.account_url }}" id="customer_login_link">
                        {%- render : 'icon_user', type: "standard" -%}
                      </a>
                    </li>
                    <li>
                      {{ 'Log out' | customer_logout_link }}
                    </li>
                  {%- else -%}
                    <li>
                      <a href="{{ routes.account_login_url }}" id="customer_login_link">Log In</a>
                    </li>
                    <li>
                      {{ 'Create account' | customer_register_link }}
                    </li>
                  {%- endif -%}
                </ul>
              {%- endif -%}
            </div>
          {% endunless %}
        </div>
      </div>
      <!-- mobile hamburger -->
      {% render 'icon_hamburger' %}
    </nav>
  </div>
</div>
{% style %}
    div.header {
      min-height: {{ se_stts.header_height }};
    }

    div.header a > img {
      width: 100%;
      max-width: {{ se_stts.max_width }};
    }

  @media(min-width: 1025px){
     div.header ul.nav-links {
      margin-left: -{{ se_stts.max_width }};
    }
  }
  @media(max-width: 1024px){
    div.header div.menu {
      top: {{ se_stts.header_height }};
    }
  }
{% endstyle %}

<script>
  const HeaderOptions = {
    store,
    delimiters: ['${', '}'],
    data() {
      return {};
    },
    created() {
      store.dispatch('getCart');
    },
    computed: {
      cartTotal() {
        return store.getters.cartTotal;
      },
    },
  };

  const Header = Vue.createApp(HeaderOptions);
  Header.mount('#header');
  Header.use(store);
</script>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "header_height",
      "default": "150px",
      "label": "Header Height"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "max_width",
      "default": "200px",
      "label": "Max width"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Main menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
